## IntelliJ
.idea/
*.iml
*.ipr
*.iws

## Go
bin/
csheet.exe
csheet
csheet-mcp.exe
csheet-mcp

## packages
!/cmd/csheet
!/cmd/csheet-mcp
!/internal/csheet
!/pkg/OPENBSD/productivity/csheet

## other
.DS_Store
dist/
csheet-mcp.log
